

.col-container {
    display: table;   /* Make the container element behave like a table */
    width: 100%;      /* Set full-width to expand the whole page */
    padding-bottom: 20px;

}

/*https://stackoverflow.com/questions/710089/how-do-i-make-an-html-link-look-like-a-button*/
.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

input {
    border: 2px solid red;
    border-radius: 4px;
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
    margin:10px; padding:10px;
}

.boxborder {
    border: 1px solid black;
}
.but-div{
    column-gap: 400px;
}

.col-3 {
    width: 25%;
    display: table-cell;
    margin: 10px;
    padding-left: 10px;

}
.col-4 {
    width: 33%;
    height: 80px;
    display: table-cell;
    padding-left: 10px;
}

.col-6 {
    width: 50%;
    display: table-cell;
}

.col-9 {
    width: 75%;
    display: table-cell;
}

.full-width {
    width:100%;
}


.col-1 {width: 8.33%;
    display: table-cell;
    margin: 10px;
    padding-left: 10px;
}
.col-2 {width: 16.66%;
    display: table-cell;
    margin: 10px;
    padding-left: 10px;
}

.col-5 {width: 41.66%;
    display: table-cell;
    margin: 10px;}
.col-7 {width: 58.33%;
    display: table-cell;
    margin: 10px;}
.col-8 {width: 66.66%;
    display: table-cell;
    margin: 10px;}

.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*<!-- https://www.w3schools.com/howto/howto_js_rangeslider.asp*/
.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
